*{
  padding: 0;
  margin: 0;
}
header{
  background-color: green
}

.titulo-jornal{
  position: absolute;
  margin-top: 70px;
  padding: 10px;
  background-color: yellow;
}

.img-fundo{
  width: 100%;
  height: 300px;
}

main{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

.img-principal{
  padding: 10px;
  border: solid black 5px;
  margin: 1vw;
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 60vw;
  padding: 4%;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 20px;
  width: 25vw;
  margin-top: 60px;
}

article{
  margin: 10px 0;
  height: 25%;
  
 
}